@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* container */
.container {
    width: min(100%, 1530px);
    margin: auto;
    padding-top: 96px;
}

/* header */
header {
    display: flex;
    padding: 16px 36px;
    align-items: center;
    justify-content: space-between;
    background: #012426;
    position: fixed;
    align-items: center;
    top: 0;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}

.xLogo,
.menuIcon {
    display: none;
}

.headerList {
    display: flex;
    align-items: center;
    column-gap: 74px;
}


.headerListItem {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease;
}

.headerListItem:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.logoHeader {
    width: 100%;
    height: 100%;
}

.headerLogo {
    width: 64px;
    height: 64px;
}

.headerLogo:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.headerDetails {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.headerDetails button {
    border: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
    background: transparent;
}

.headerDetails button:hover {
    color: #007bff;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
}

.headerDetails button img {
    width: 100%;
    height: 100%;
}

/* section 1 */
.FirstSection {
    display: flex;
    height: 515px;
    background-image: url(../images/home/cover\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: flex-start;
    justify-content: center;
}

.FirstSectionContent {
    display: flex;
    column-gap: 24px;
    align-items: center;
    column-gap: 24px;
    margin-top: 72px;
}

.FirstSectionHeader {
    color: #05BCCA;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

.FirstSectionHeader:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.FirstSectionButton:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.title {
    color: #FFF;
}

.FirstSectionButton {
    border-radius: 4px;
    height: 24px;
    padding: 0px 6px;
    border: none;
    background: #C46A2B;
}


/* Section 2 */
.secondSection {
    background: #012426;
    display: flex;
    justify-content: center;
    padding-block: 96px;
}

.secondSectionContainer {
    display: grid;
    gap: 16px;
    width: 824px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 240px);
}

.secondSectionCard {
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.secondSectionCard img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondSectionCard:hover img {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

.secondSectionCard:hover .SecondSectionTitle {
    display: none;
}

.SecondSectionTitle {
    position: absolute;
    top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    left: 16px;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
}

/* Section 3 */
.thirdSection {
    padding: 96px 134px;
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 64px;
}

.thirdSectionMainTitle {
    color: #05BCCA;
    font-weight: 700;
    line-height: 52px;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
}

.thirdSectionContainer {
    display: flex;
    column-gap: 20px;
    width: 100%;
}


.thirdSectionCard {
    border: 1px solid #05BCCA;
    background: #2C4246;
    display: flex;
    width: 298px;
    height: 400px;
    padding: 8px 8px 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

/* Add a blue box-shadow effect around the entire card on hover */
.thirdSectionCard:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

/* Hide the blue line under "Most Popular"  */
.thirdSectionMainTitle {
    transition: border-bottom 0.3s ease;
}

.thirdSectionMainTitle:hover {
    border-bottom: 2px solid #007bff;
}

.guitar {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


.thirdSectionTitle {
    color: #D9D9D9;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.guitarReviews {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reviewText {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}


.starsReview {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.thirdSectionPrice {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* Carousel Slider */
#carouselWrapper {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

#carousel {
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 400px;
    background-color: #000;
}

#carousel::-webkit-scrollbar {
    height: 0;
}
  
#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}
  
#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}
  
#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
  
#carouselContent {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}  

/* section 4 */
.forthSection {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    row-gap: 40px;
    height: 320px;
    background-image: url(../images/home/pic2\ \(2\).png);
    align-items: center;
    justify-content: center;
}

.forthSectionTitle {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
}


.forthSectionForm {
    width: 480px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
}

.forthSectionInput {
    border-radius: 8px 0 0 8px;
    border: none;
    background: rgba(44, 66, 70, 0.80);
    height: 48px;
    width: 100%;
    padding-left: 8px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


.forthSectionInputButton {
    border-radius: 0px 8px 8px 0px;
    border: none;
    background: #05BCCA;
    padding: 15px 14px 14px 14px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forthSectionInputButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

/* Footer  */
footer {
    display: flex;
    padding: 48px 21% 64px 21%;
    row-gap: 64px;
    flex-direction: column;
    align-items: center;
    background: #2C4246;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerDiv {
    display: flex;
    row-gap: 28px;
    flex-direction: column;
}

.footerTitle {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.footerTitles {
    position: relative;
}

.footerItems li a,
.footerList li a {
    transition: color 0.3s ease;
}

.footerItems li a:hover,
.footerList li a:hover {
    color: #007bff;
}


.footerTitles::after {
    background: #D9D9D9;
    position: absolute;
    left: 0;
    content: "";
    top: 37px;
    width: 80px;
    height: 3px;
}

.footerList {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.footerItemTitles {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contactLogos {
    display: flex;
    column-gap: 16px;
}

.footerCopyright {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.footerCopyright span {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* კატალოგი */

.catalogFirstSection {
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
    display: flex;
    padding: 36px 0;
    justify-content: center;
}

.guitarTypes {
    background-color: #0a0a0a;
    border: 1px solid #05BCCA;
    padding: 18px 24px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.guitarTypes:hover {
    background-color: #1A1A1A;
    color: #FFA500;
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7);
}

.active {
    background: #A1C3C9;
    color: #2C4246;
}


/* მეორე სექცია */
.catalogFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterText {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.filterButton {
    background: transparent;
    border: none;
    padding: 0;
    transition: all .3s linear;
}

.catalogSort,
.filterContainer {
    display: flex;
    align-items: center;
}

.catalogSort {
    column-gap: 30px;
}

.filterContainer {
    column-gap: 16px;
}

.sortButton {
    border: none;
    border-radius: 4px;
    background: #A1C3C9;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 33px;
}

.sortButton span {
    color: #2C4246;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.catalogSecondSection {
    padding: 96px 94px;
    background: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

/* Cards*/
.catalogCardContainer .card {
    border: none;
    padding: 0 0 16px 0;
    flex: 1 1 298px;
}

/* Catalog Card Hover Effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(12, 109, 213, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.catalogCardContainer .card .guitarName {
    padding-inline: 8px;
}

.catalogCardContainer .card .guitarPrice {
    padding-inline: 8px;
}

.catalogCardContainer {
    display: flex;
    gap: 40px 20px;
    justify-content: center;
    flex-flow: row wrap;
}

.card-img {
    width: 100%;
    height: 298px;
    object-fit: cover;
}

.guitarName {
    color: #D9D9D9;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.reviewStars {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reviewStars {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.cardReviews {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.price {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* Pages */
.pages {
    display: flex;
    column-gap: 49px;
    justify-content: center;
    align-items: center;
}

.buttonPage {
    padding: 9px;
    align-items: center;
    border-radius: 8px;
    background: #C46A2B;
    border: none;
    display: flex;
    gap: 16px;
}

/* Pages Hover Effect */
.buttonPage:hover {
    background-color: #012426;
    color: #ffffff;
}

.next {
    background: #05BCCA;
}

.buttonText {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pagesCount {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* Contact */
.contactContainer {
    background: url(../images/shared/contactCover.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 96px 95px 115px 0;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-end;

}

.contactDiv {
    flex-direction: column;
    row-gap: 40px;
    width: 620px;
    display: flex;
}

.contactQuestion {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.info {
    padding: 35px 40px;
    background: #2C4246;

    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
}

.info::before {
    position: absolute;
    width: 3px;
    height: 0%;
    content: "";
    background: #A1C3C9;
    left: 0;
    top: 0;
}

.infoContent {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.infoContentDetails i {
    font-size: 24px;
    color: #D9D9D9;
}


.infoContentDetails {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.infoContentDetails span {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.inputFormContainer {
    display: flex;
    gap: 40px;
}

.formContact {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.infoInputTitles {
    display: flex;
    column-gap: 8px;
}


.contactPlaforms {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.contactPlaformsMiniIcons {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
}

.contactPlaformsMiniIcons a {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.contactPlaformsMiniIcons a:hover {
    transform: scale(1.3);
}

.contactPlaformsMiniIcons a img {
    width: 100%;
    height: 100%;
}

.inputField,
.writingSpace {
    background: #2C4246;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 6px 8px;
}

.inputField {
    width: 55%;
}

.writingSpace {
    align-items: center;
    resize: none;
    height: 103px;
    margin-bottom: 8px;
}

.sendButton span {
    position: relative;
}

.sendButton span::after {
    content: "SEND MESSAGE";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0%;
}

.sendButton {
    padding: 8px 16px;
    border: none;
    background: #C46A2B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sendButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    transition: all 0.5s ease-in-out;
}

.sendButton:hover::before {
    left: 0;
}

.sendButton span {
    z-index: 1;
}

/* for Email and Phone Icons */
.infoContentDetails:hover {
    color: #FFA500;
    transform: scale(1.2);
}

/* Map Icon */
.info a:hover img {
    filter: brightness(1.5);
    transform: rotate(15deg);
}


/* Hover Styles for the Button */
.sendButton:hover {
    background: #1A1A1A;
    color: #FFA500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}

.infoContentDetails:hover {
    color: #FFA500;
}

/* Hover Effect for Input Fields */
.inputField:hover,
.writingSpace:hover,
.info:hover {
    background-color: #001F3F;
    color: #ffffff;
    border-color: #007BFF;
}

iframe {
    width: 100%;
}



/* Body styles for registration page */
.registration-body {
    font-family: 'Roboto', sans-serif;
    background-color: #012426;/* Matching the registration background */
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form styles */
#registrationForm {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(255 174 58 / 50%);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

/* Container styles to match the registration page */
.registrationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assuming you want the form to be vertically centered in the viewport */
    background-color: #012426;/* Matching the registration background */
}

/* Label styles */
label {
    display: block;
    margin-bottom: 6px;
    color: #acb6b0; /* Adjusted color to match registration */
    font-size: 17px;
}

/* Input styles */
.input-style {
    width: 100%;
    padding: 8px;
    margin-bottom: 13px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Adjusted background color to match registration */
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

/* Button styles */
.button-style {
    background-color: #505552; /* Adjusted button color to match registration */
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: rgba(255, 165, 0, 0.7); /* Adjusted hover color to match registration */
}

/* Column styles */
.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Special styles for specific elements */
#password,
#birthday,
.button-style {
    width: 100%;
}

.input-style.invalid {
    border: 2px solid red;
}

.input-style:valid {
    border: 1px solid #ddd;
    /* Add your default border style here */
}

/* Style for dropdown options */
.input-style#country option {
    font-size: 12px;
    /* Adjust font size as needed */
}

select#country option {
    height: 20px;
    width: 30px;
    padding: 3px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #2f0000;
}

/* Style the dropdown box */
select#country::-ms-expand {
    display: none;

}


/* Container styles to match the registration page */
.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assuming you want the form to be vertically centered in the viewport */
    background-color: #012426; /* Matching the registration background */
}


/* Form styles */
#authorizationForm {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 20px rgb(255 174 58 / 50%);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px; /* Adjust as needed */
}

/* Reusing input and button styles from registration */
.input-auth,
.button-auth {
    width: 100%;
    padding: 12px;
    margin-bottom: 13px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.button-auth {
    background-color: #505552;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-auth:hover {
    background-color: rgba(255, 165, 0, 0.7);
}

/* Label styles to match registration */
.label-auth {
    display: block;
    margin-bottom: 4px;
    color: #acb6b0;
    font-size: 20px;
}


/* Reset styles if needed */


/* Reset styles if needed */

/* Container styles */


/* Blog section styles */
.blog-container {
    padding: 53px;
    background: #292929;
}

.blog-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Blog post styles */
.blog-post {
    background-color: #ede4de;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-content {
    padding: 20px;
}

.blog-post-title {
    color: #1A1A1A;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-post-description {
    color: #1A1A1A;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.read-more-link {
    color: #FFA500;
    text-decoration: none;
    font-weight: bold;
}

.read-more-link:hover {
    text-decoration: underline;
}

.blogPost {
    background-color: #1A1A1A;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blogPost img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.blogPost h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blogPost p {
    font-size: 16px;
}



/* Delivery Page Styles */
.delivery-section {
    padding: 50px 0;
    text-align: center;
}

.delivery-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1A1A1A;
}

.delivery-description {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.delivery-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.delivery-option {
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.delivery-option:hover {
    transform: translateY(-5px);
}

.delivery-option img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.delivery-option-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1A1A1A;
}

.delivery-option-description {
    font-size: 16px;
    color: #555;
}

.delivery-details {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.delivery-detail {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.delivery-detail:hover {
    transform: translateY(-5px);
}

.delivery-detail i {
    font-size: 48px;
    color: #FF6600;
    margin-bottom: 20px;
}

.delivery-detail h3 {
    font-size: 24px;
    color: #1A1A1A;
    margin-bottom: 10px;
}

.delivery-detail p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.about-us {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about-us-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-us-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #1A1A1A;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out;
}

.about-us-description {
    font-size: 24px;
    color: #555;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-out;
}

.about-us-images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-out;
}

.about-us-images img {
    width: 250px;
    border-radius: 50%;
    margin: 0 30px;
    animation: zoomIn 1s ease-out;
}

.about-us-story,
.about-us-mission,
.about-us-ambitions,
.about-us-goals {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}


